<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Detalle Funcion</title>
    </head>
    <body>
        <h1>Detalle Funcion</h1>
        <div>ID: {{funcion.id}}</div>
        <div>Hora de la Funcion: {{funcion.hora}}</div>
        <div>Fecha de la Funcion: {{funcion.dia}}</div>
        <div>Pelicula de la Funcion: {{funcion.pelicula}}</div>
        <div>Sala: {{funcion.sala}}</div>
        <a href="{% url 'index' %}">Regresar al incio</a>
    </body>
</html>